/*! normalize.css v4.2.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%
  /* 3 */ }

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block; }

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none; }

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em
  /* 2 */ }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible
  /* 2 */ }

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0
  /* 2 */ }

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal
  /* 1 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit
  /* 2 */ }

@font-face {
  font-family: 'square_sans_thin';
  src: url("../fonts/pfsquaresanspro-thin.eot");
  src: url("../fonts/pfsquaresanspro-thin.eot?#iefix") format("embedded-opentype"), url("../fonts/pfsquaresanspro-thin.woff2") format("woff2"), url("../fonts/pfsquaresanspro-thin.woff") format("woff"), url("../fonts/pfsquaresanspro-thin.ttf") format("truetype"), url("../fonts/pfsquaresanspro-thin.svg#pf_square_sans_prothin") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'square_sans_light';
  src: url("../fonts/pfsquaresanspro-light.eot");
  src: url("../fonts/pfsquaresanspro-light.eot?#iefix") format("embedded-opentype"), url("../fonts/pfsquaresanspro-light.woff2") format("woff2"), url("../fonts/pfsquaresanspro-light.woff") format("woff"), url("../fonts/pfsquaresanspro-light.ttf") format("truetype"), url("../fonts/pfsquaresanspro-light.svg#pf_square_sans_prolight") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'square_sans_regular';
  src: url("../fonts/pfsquaresanspro-regular.eot");
  src: url("../fonts/pfsquaresanspro-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/pfsquaresanspro-regular.woff2") format("woff2"), url("../fonts/pfsquaresanspro-regular.woff") format("woff"), url("../fonts/pfsquaresanspro-regular.ttf") format("truetype"), url("../fonts/pfsquaresanspro-regular.svg#pf_square_sans_proregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'square_sans_medium';
  src: url("../fonts/pfsquaresanspro-medium.eot");
  src: url("../fonts/pfsquaresanspro-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/pfsquaresanspro-medium.woff2") format("woff2"), url("../fonts/pfsquaresanspro-medium.woff") format("woff"), url("../fonts/pfsquaresanspro-medium.ttf") format("truetype"), url("../fonts/pfsquaresanspro-medium.svg#pf_square_sans_promedium") format("svg");
  font-weight: normal;
  font-style: normal; }
.map__close {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%; }

.map__point__point {
  position: absolute;
  z-index: 3;
  display: inline-block;
  width: 26px;
  height: 26px;
  cursor: pointer;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjYgMjYiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDI2IDI2OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHN0eWxlIHR5cGU9InRleHQvY3NzIj4uc3Qwe29wYWNpdHk6MC42O2ZpbGw6IzcyODNBNjt9LnN0MXtmaWxsOiNGRkZGRkY7fS5zdDJ7ZmlsbDojNUQ3NkJGO308L3N0eWxlPjxnPjxjaXJjbGUgY2xhc3M9InN0MCIgY3g9IjEzIiBjeT0iMTMiIHI9IjEyIi8+PGc+PGltYWdlIHN0eWxlPSJvdmVyZmxvdzp2aXNpYmxlO29wYWNpdHk6MC4yNTsiIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgeGxpbms6aHJlZj0iNUM5OTY5OTE0QjJBODlGOS5wbmciICB0cmFuc2Zvcm09Im1hdHJpeCgxIDAgMCAxIDEgMikiPjwvaW1hZ2U+PGc+PGNpcmNsZSBjbGFzcz0ic3QxIiBjeD0iMTMiIGN5PSIxMyIgcj0iNiIvPjwvZz48L2c+PGNpcmNsZSBjbGFzcz0ic3QyIiBjeD0iMTMiIGN5PSIxMyIgcj0iNCIvPjwvZz48L3N2Zz4=);
  background-size: 26px 26px;
  background-position: 50% 50%; }

.map__point__point.launch {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjYgMjYiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDI2IDI2OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHN0eWxlIHR5cGU9InRleHQvY3NzIj4uc3Qwe29wYWNpdHk6MC42O2ZpbGw6IzdGN0Y3Rjt9LnN0MXtmaWxsOiNGRkZGRkY7fS5zdDJ7ZmlsbDojN0Y3RjdGO308L3N0eWxlPjxnPjxjaXJjbGUgY2xhc3M9InN0MCIgY3g9IjEzIiBjeT0iMTMiIHI9IjEyIi8+PGc+PGltYWdlIHN0eWxlPSJvdmVyZmxvdzp2aXNpYmxlO29wYWNpdHk6MC4yNTsiIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgeGxpbms6aHJlZj0iRkRGQzEwNkVBRkRFQTM1My5wbmciICB0cmFuc2Zvcm09Im1hdHJpeCgxIDAgMCAxIDEgMikiPjwvaW1hZ2U+PGc+PGNpcmNsZSBjbGFzcz0ic3QxIiBjeD0iMTMiIGN5PSIxMyIgcj0iNiIvPjwvZz48L2c+PGNpcmNsZSBjbGFzcz0ic3QyIiBjeD0iMTMiIGN5PSIxMyIgcj0iNCIvPjwvZz48L3N2Zz4=); }

.map__point__window {
  position: absolute;
  bottom: 44px;
  left: -133px;
  display: block;
  overflow: hidden;
  width: 0;
  padding: 0;
  opacity: 0;
  cursor: default;
  -webkit-transition: bottom 0.4s;
          transition: bottom 0.4s; }

input:checked + .map__point__point {
  z-index: 5; }

input:checked + .map__point__point .map__point__window {
  bottom: 24px;
  width: 282px;
  padding: 5px 5px 13px 5px;
  opacity: 1;
  -webkit-transition: opacity .4s, bottom .2s;
          transition: opacity .4s, bottom .2s; }

.map__point__window__bg {
  display: block;
  padding: 16px;
  background: #fefefe;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4); }

.map__point__window__bg:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  content: "";
  display: block;
  width: 20px;
  height: 13px;
  margin-left: -10px;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjAgMTMiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDIwIDEzOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHN0eWxlIHR5cGU9InRleHQvY3NzIj4uc3Qwe2ZpbGw6I0ZGRkZGRjt9PC9zdHlsZT48cG9seWdvbiBjbGFzcz0ic3QwIiBwb2ludHM9IjEsMCAxMCwxMiAxOSwwICIvPjwvc3ZnPg==); }

.map__point__point.right .map__point__window {
  left: -250px; }

.map__point__point.right .map__point__window__bg:after {
  left: 263px; }

.map__point__window__title {
  font: 400 1.75em/1.2em "square_sans_regular", "Roboto", "Segoue UI", "Helvetica Neue", Tahoma, Arial, Sans-Serif;
  display: block;
  margin: 0 0 4px 0; }

.map__point__window__p {
  font: 200 1.125em/1.5em "square_sans_light", "Roboto Light", "Segoue UI Semilight", "Helvetica Neue Light", Tahoma, Arial, Sans-Serif;
  display: block;
  margin: 0; }

.row {
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin: 0 auto;
  width: 960px; }
  .row_end {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .row_center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .row_between {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .row_around {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
  .row_top {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .row_middle {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .row_bottom {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end; }
  .row_base {
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
        -ms-flex-align: baseline;
            align-items: baseline; }

.bg_wrapper {
  width: 100%;
  background-color: #f2f2f2; }

.col_1,
.col_2,
.col_3,
.col_4,
.col_5,
.col_6,
.col_7,
.col_8,
.col_9,
.col_10,
.col_11,
.col_12 {
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.col_1 {
  -webkit-flex-basis: 80px;
      -ms-flex-preferred-size: 80px;
          flex-basis: 80px; }

.col_2 {
  -webkit-flex-basis: 160px;
      -ms-flex-preferred-size: 160px;
          flex-basis: 160px; }

.col_3 {
  -webkit-flex-basis: 240px;
      -ms-flex-preferred-size: 240px;
          flex-basis: 240px; }

.col_4 {
  -webkit-flex-basis: 320px;
      -ms-flex-preferred-size: 320px;
          flex-basis: 320px; }

.col_5 {
  -webkit-flex-basis: 400px;
      -ms-flex-preferred-size: 400px;
          flex-basis: 400px; }

.col_6 {
  -webkit-flex-basis: 480px;
      -ms-flex-preferred-size: 480px;
          flex-basis: 480px; }

.col_7 {
  -webkit-flex-basis: 560px;
      -ms-flex-preferred-size: 560px;
          flex-basis: 560px; }

.col_8 {
  -webkit-flex-basis: 640px;
      -ms-flex-preferred-size: 640px;
          flex-basis: 640px; }

.col_9 {
  -webkit-flex-basis: 720px;
      -ms-flex-preferred-size: 720px;
          flex-basis: 720px; }

.col_10 {
  -webkit-flex-basis: 800px;
      -ms-flex-preferred-size: 800px;
          flex-basis: 800px; }

.col_11 {
  -webkit-flex-basis: 880px;
      -ms-flex-preferred-size: 880px;
          flex-basis: 880px; }

.col_12 {
  -webkit-flex-basis: 960px;
      -ms-flex-preferred-size: 960px;
          flex-basis: 960px; }

.col_column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.col_center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

html {
  min-height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: auto;
      -ms-flex: auto;
          flex: auto;
  font-size: 16px; }

.header {
  width: 100%;
  min-width: 960px;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  padding-top: 30px;
  background-color: #f2f2f2;
  min-height: 80px; }

main {
  width: 100%;
  min-width: 960px;
  max-width: 100%;
  box-sizing: border-box;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #fff;
  margin: 0 auto; }

.footer {
  width: 100%;
  min-width: 960px;
  max-width: 100%;
  box-sizing: border-box;
  background-color: #333;
  min-height: 280px;
  margin: 0 auto;
  color: #fff;
  font-family: "square_sans_regular", Arial, Sans-serif;
  font-size: .875em;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-top: 30px;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .footer__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .footer h4 {
    font-size: 2em;
    font-weight: normal;
    margin: 0; }
  .footer__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .footer__copyright {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-top: auto; }

.logo {
  line-height: 0; }

.header__menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .menu__item {
    margin-left: 24px; }
  .menu__link {
    font-family: "square_sans_light", Arial, Sans-serif;
    font-size: 1.125em;
    letter-spacing: 0.022em;
    color: #384773;
    text-decoration: none; }
    .menu__link_active {
      color: #707070; }
    .menu__link:hover {
      color: #bf784e; }

.banner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: url(../img/banner.png) right bottom no-repeat transparent;
  width: 100%;
  padding-bottom: 104px; }

.banner__title {
  font-family: "square_sans_thin", Arial, Sans-serif;
  font-size: 4.125em;
  font-weight: 100;
  line-height: 1.1;
  letter-spacing: 0.004em;
  margin-top: 98px;
  margin-bottom: 32px; }

.link_banner {
  text-transform: uppercase;
  font: 1.125em "square_sans_medium", Arial, Sans-serif;
  letter-spacing: 0.025em;
  color: #384773;
  margin-left: 24px; }

.link_feature {
  text-transform: uppercase;
  font: 1.125em "square_sans_medium", Arial, Sans-serif;
  letter-spacing: 0.025em;
  color: #384773;
  margin-left: 40px;
  margin-top: 1em; }

.button {
  font-family: "square_sans_medium", Arial, Sans-serif;
  font-size: 1.125em;
  line-height: 1;
  padding: 1em 1.366em .888em 1.366em;
  letter-spacing: 0.025em;
  color: #fff;
  background-color: #384773;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
  border: none;
  -webkit-transition: all 0.25s;
          transition: all 0.25s;
  display: inline-block;
  -webkit-box-flex: 0;
  -webkit-flex: none;
      -ms-flex: none;
          flex: none
  /*align-self: flex-start;*/ }
  .button_little {
    font-size: 1em;
    padding: .688em .938em .625em .938em; }
  .button:hover, .button:focus {
    color: #fff;
    background-color: #bf784e; }

.features {
  padding-bottom: 81px; }
  .features__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .features__head {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .features__title {
    font-family: "square_sans_light", Arial, Sans-serif;
    font-size: 2.75em;
    line-height: 1.1;
    font-weight: normal;
    color: #1c1c1c;
    margin: 73px auto 39px;
    letter-spacing: 0.025em; }
  .features__icon {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    width: 160px;
    height: 160px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    margin-bottom: 3px;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .features__name {
    font-family: "square_sans_thin", Arial, Sans-serif;
    font-weight: normal;
    font-size: 1.6875em;
    line-height: 1.44444444;
    letter-spacing: 0.014em;
    color: #1c1c1c;
    margin: 1em 40px .5em 40px; }
  .features__description {
    font-family: "square_sans_light", Arial, Sans-serif;
    font-size: 1.125em;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #333;
    margin: 0 40px 0 40px; }
  .features__more {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 46px; }

.menu_footer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .menu_footer .menu__item {
    margin-left: 0; }
  .menu_footer .menu__link {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    text-decoration: underline; }
    .menu_footer .menu__link_active {
      color: #707070; }
    .menu_footer .menu__link:hover {
      color: #bf784e; }

.features__map {
  padding-bottom: 10px; }

.map {
  height: 560px;
  background-image: url(../img/map.png);
  background-position: top center;
  position: relative; }

.swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto; }

.swiper-slide {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.swiper-button-prev {
  background-image: url(../img/icon-left.svg); }

.swiper-button-next {
  background-image: url(../img/icon-right.svg); }

.swiper-button-prev,
.swiper-button-next {
  background-size: 16px 30px;
  top: 80px; }

.swiper-pagination-bullet {
  border: 1px solid #384773;
  background: none;
  opacity: 1;
  width: 7px;
  height: 7px; }

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 4px; }

.swiper-pagination-bullet-active {
  background: #384773; }

.review {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 800px;
  min-height: 160px;
  box-sizing: border-box; }
  .review__col1 {
    width: 160px;
    height: 160px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0; }
  .review__col2 {
    width: 100%;
    height: 100%;
    padding-left: 40px;
    font-family: "square_sans_light", Arial, Sans-serif;
    font-size: 1.125em;
    line-height: 1.5;
    letter-spacing: 0.01em; }
  .review__photo {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden; }
  .review__text p {
    margin-bottom: 0; }
  .review__author {
    text-align: right; }
  .review__name {
    font-family: "square_sans_medium", Arial, Sans-serif;
    font-weight: normal; }

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
  position: static;
  margin-top: 14px; }

.partners {
  padding-bottom: 60px; }

.header__info {
  padding: 33px 0;
  display: block; }
  .header__info p {
    font-family: "square_sans_thin", Arial, Sans-serif;
    font-size: 1.6875em;
    line-height: 1.44444444;
    color: #1c1c1c;
    letter-spacing: 0.016em;
    margin-top: -47px;
    margin-bottom: 49px; }

.header__title {
  font-family: "square_sans_thin", Arial, Sans-serif;
  font-size: 4.125em;
  font-weight: 100;
  line-height: 1.1;
  letter-spacing: 0.004em;
  margin: 1em 0; }

.service {
  padding: 80px 0; }
  .service__title {
    font-family: "square_sans_light", Arial, Sans-serif;
    font-size: 2.75em;
    line-height: 1.1;
    color: #1c1c1c;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: 0.02em; }
  .service__description {
    font-family: "square_sans_light", Arial, Sans-serif;
    font-size: 1.125em;
    line-height: 1.5;
    color: #333;
    letter-spacing: 0.02em;
    margin-bottom: 1.5em; }

.service .button {
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start; }

.icon_back {
  display: inline-block;
  width: 17px;
  height: 14px;
  background-image: url(../img/icon-back.svg);
  background-size: 17px 14px;
  background-repeat: no-repeat;
  position: relative;
  top: 1px;
  margin-right: 10px; }

.link:hover > .icon_back {
  background-image: url(../img/icon-back-active.svg); }

.text {
  font-family: "square_sans_light", Arial, Sans-serif;
  color: #1c1c1c;
  font-size: 1.125em;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: block;
  padding-bottom: 50px; }
  .text h1 {
    font-family: "square_sans_thin", Arial, Sans-serif;
    font-size: 3.66666667em;
    line-height: 1.1;
    font-weight: normal;
    letter-spacing: 0.025em;
    margin-bottom: 0;
    margin-top: 1em; }
  .text h2 {
    font-size: 2.44444444em;
    line-height: 1.1;
    font-weight: normal;
    letter-spacing: 0.025em;
    margin-top: 1.5em;
    margin-bottom: 0.4em; }
  .text h3 {
    font-size: 1.5em;
    line-height: 1.44444444;
    letter-spacing: 0.004em;
    font-weight: normal;
    margin-top: 0.7em;
    margin-bottom: 2.5em; }
  .text .important-text {
    font-size: 1.5em;
    line-height: 1.44444444;
    letter-spacing: 0.004em;
    margin-top: 0.7em;
    margin-bottom: 2.5em; }
  .text p {
    margin-bottom: 1.3em; }
  .text ul {
    line-height: 1.8; }
  .text b {
    font-family: "square_sans_medium", Arial, Sans-serif;
    font-weight: normal; }

.features__item_row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.features__title_left {
  margin-left: 0; }

/* Partners > Benefits > margins between rows */
.features__item_row {
  margin-bottom: 40px; }

.features__item_row:nth-last-child(1),
.features__item_row:nth-last-child(2) {
  margin-bottom: 0; }

/*============================================*/
/* Partnership > table*/
.table {
  width: 100%;
  border-collapse: collapse;
  font-family: "square_sans_light", Arial, Sans-serif;
  font-size: 1.125em;
  line-height: 1.5;
  color: #333;
  letter-spacing: 0.02em; }
  .table b {
    font-family: "square_sans_medium", Arial, Sans-serif;
    font-weight: normal; }
  .table ul {
    margin: 0;
    padding-left: 17px; }
  .table li {
    margin-bottom: 4px; }
  .table td {
    width: 33.33333333%;
    border: 2px solid #e5e5e5;
    padding: 13px 20px;
    vertical-align: top; }

.li_boolean {
  list-style: none;
  color: #707070;
  padding-top: 1px;
  padding-bottom: 1px; }

/*====================*/
select {
  font-family: "square_sans_light", Arial, Sans-serif;
  font-size: 1.125em;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #707070;
  border-color: #c6c6c6;
  margin-right: 80px;
  padding: 5px;
  width: 240px;
  margin-top: -20px;
  outline: none; }

.partners {
  /* outline: 1px dashed green; */
  list-style: none;
  padding: 0;
  box-sizing: border-box;
  width: 960px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: 40px;
  margin-bottom: 40px; }

.partners__item {
  display: block;
  width: 241px;
  height: 241px;
  box-sizing: border-box;
  border: 2px solid #ededed; }

.partners__item:not(:nth-child(4n+1)) {
  margin-left: -2px; }

.partners__item:nth-child(n+5) {
  margin-top: -2px; }

/*.partners__item:nth-child(4n) {
  flex-grow: 1;
}*/
.vacancy {
  list-style: none;
  padding-left: 0; }
  .vacancy__item {
    padding: 12px 0; }
  .vacancy__link {
    font-family: "square_sans_medium", Arial, Sans-serif;
    display: block;
    text-decoration: none;
    color: #384773;
    letter-spacing: 0.035em; }
  .vacancy__location {
    display: block;
    margin-top: -8px; }

.contact-us-form {
  margin-top: 50px;
  margin-bottom: 30px; }
  .contact-us-form .col_6 {
    margin-bottom: 24px;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .contact-us-form input[type="submit"] {
    margin-left: 160px; }
  .contact-us-form input[type="text"] {
    padding: 2px; }

.office {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px; }
  .office__flag {
    margin-right: 20px; }
  .office__info {
    margin-top: 0; }
  .office__country {
    font-family: "square_sans_light", Arial, Sans-serif;
    font-size: 2.44444444em;
    line-height: 1; }
  .office a {
    color: #384773; }

.header__title_small {
  font-family: "square_sans_light", Arial, Sans-serif;
  font-size: 2.75em;
  letter-spacing: 0.02em; }

.header__title_small + .button {
  margin-bottom: 50px; }

.vacancy-legend {
  font-family: "square_sans_thin", Arial, Sans-serif;
  font-size: 1.5em;
  line-height: 1.44444444;
  letter-spacing: 0.03em;
  margin-top: 2.5em;
  margin-bottom: 2.5em; }
