@import "normalize";
@import "fonts";
@import "map";

$content_width: 960px;
$max_width: 100%;
$font_size: 16px;

$bg_main: #fff;
$bg_secondary: #f2f2f2;
$bg_footer: #333;
$bg_btn: #384773;
$bg_btn_hover: #bf784e;

$color_main: #1c1c1c;
$color_secondary: #333;
$color_link: #384773;
$color_link_hover: #bf784e;
$color_link_active: #707070;
$color_btn: #fff;
$color_footer: #fff;
$color_plceholder: #c6c6c6;
$color_input: #707070;

$font-t: 'square_sans_thin', Arial, Sans-serif;
$font-l: 'square_sans_light', Arial, Sans-serif;
$font-r: 'square_sans_regular', Arial, Sans-serif;
$font-m: 'square_sans_medium', Arial, Sans-serif;

.row {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 auto;
  margin: 0 auto;
  width: $content_width;

  &_end {justify-content: flex-end;}
  &_center {justify-content: center;}
  &_between {justify-content: space-between;}
  &_around {justify-content: space-around;}

  &_top {align-items: flex-start;}
  &_middle {align-items: center;}
  &_bottom {align-items: flex-end;}
  &_base {align-items: baseline}
}

.bg_wrapper {
  width: 100%;
  background-color: $bg_secondary;
}

.col_1,
.col_2,
.col_3,
.col_4,
.col_5,
.col_6,
.col_7,
.col_8,
.col_9,
.col_10,
.col_11,
.col_12, {
  box-sizing: border-box;
  flex: 0 0 auto;
  display: flex;
}

.col_1{flex-basis: 80px;}
.col_2{flex-basis: 160px;}
.col_3{flex-basis: 240px;}
.col_4{flex-basis: 320px;}
.col_5{flex-basis: 400px;}
.col_6{flex-basis: 480px;}
.col_7{flex-basis: 560px;}
.col_8{flex-basis: 640px;}
.col_9{flex-basis: 720px;}
.col_10{flex-basis: 800px;}
.col_11{flex-basis: 880px;}
.col_12{flex-basis: 960px;}

.col_column {
  flex-direction: column;
}
.col_center {
  justify-content: center;
}

html {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  flex-direction: column;
  flex: auto;
  font-size: $font_size;
}

.header {
  width: 100%;
  min-width: $content_width;
  max-width: $max_width;
  box-sizing: border-box;
  margin: 0 auto;
  padding-top: 30px;
  background-color: $bg_secondary;
  min-height: 80px;
}

main {
  width: 100%;
  min-width: $content_width;
  max-width: $max_width;
  box-sizing: border-box;
  flex-grow: 1;
  background-color: $bg_main;
  margin: 0 auto;
}

.footer {
  width: 100%;
  min-width: $content_width;
  max-width: $max_width;
  box-sizing: border-box;
  background-color: $bg_footer;
  min-height: 280px;
  margin: 0 auto;
  color: $color_footer;
  font-family: $font-r;
  font-size: .875em;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-top: 30px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;

  &__menu {
    flex-direction: column;
  }
  & h4 {
    font-size: 2em;
    font-weight: normal;
    margin: 0;
  }
  &__contacts {
    flex-direction: column;
  }
  &__copyright {
    justify-content: flex-end;
    margin-top: auto;
  }
}

.logo {
  line-height: 0;
}

.header__menu {
  display: flex;
  justify-content: flex-end;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  user-select: none;

  &__item {
    margin-left: 24px;
  }
  &__link {
    font-family: $font-l;
    font-size: 1.125em;
    letter-spacing: 0.022em;
    color: $color_link;
    text-decoration: none;

    &_active {
      color: $color_link_active;
    }
    &:hover {
      color: $color_link_hover;
    }
  }
}

.banner {
  display: flex;
  background: url(../img/banner.png) right bottom no-repeat transparent;
  width: 100%;
  padding-bottom: 104px;
}

.banner__title {
  font-family: $font-t;
  font-size: 4.125em;
  font-weight: 100;
  line-height: 1.1;
  letter-spacing: 0.004em;
  margin-top: 98px;
  margin-bottom: 32px;
}

.link_banner {
  text-transform: uppercase;
  font: 1.125em $font-m;
  letter-spacing: 0.025em;
  color: $color_link;
  margin-left: 24px;
}

.link_feature {
  text-transform: uppercase;
  font: 1.125em $font-m;
  letter-spacing: 0.025em;
  color: $color_link;
  margin-left: 40px;
  margin-top: 1em;
}

.button {
  font-family: $font-m;
  font-size: 1.125em;
  line-height: 1;
  padding: 1em 1.366em .888em 1.366em;
  letter-spacing: 0.025em;
  color: $color_btn;
  background-color: $bg_btn;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
  border: none;
  transition: all 0.25s;
  display: inline-block;
  flex: none;
  /*align-self: flex-start;*/

  &_little {
    font-size: 1em;
    padding: .688em .938em .625em .938em;
  }
  &:hover,
  &:focus {
    color: $color_btn;
    background-color: $bg_btn_hover;
  };
}

.features {
  padding-bottom: 81px;

  &__item {
    flex-direction: column;
  }
  &__head {
    display: flex;
  }
  &__title {
    font-family: $font-l;
    font-size: 2.75em;
    line-height: 1.1;
    font-weight: normal;
    color: $color_main;
    margin: 73px auto 39px;
    letter-spacing: 0.025em;
  }
  &__icon {
    align-self: center;
    width: 160px;
    height: 160px;
    user-select: none;
    margin-bottom: 3px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__name {
    font-family: $font-t;
    font-weight: normal;
    font-size: 1.6875em;
    line-height: 1.44444444;
    letter-spacing: 0.014em;
    color: $color_main;
    margin: 1em 40px .5em 40px;
  }
  &__description {
    font-family: $font-l;
    font-size: 1.125em;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: $color_secondary;
    margin: 0 40px 0 40px;
  }
  &__more {
    justify-content: center;
    padding-top: 46px;
  }
}

.menu_footer {
  flex-direction: column;
  & .menu__item {
    margin-left: 0;
  }
  & .menu__link {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    text-decoration: underline;

    &_active {
      color: $color_link_active;
    }
    &:hover {
      color: $color_link_hover;
    }
  }

}

.features__map {
  padding-bottom: 10px;
}
.map {
  height: 560px;
  background-image: url(../img/map.png);
  background-position: top center;
  position: relative;
}

.swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-button-prev {
  background-image: url(../img/icon-left.svg);
}
.swiper-button-next {
  background-image: url(../img/icon-right.svg);
}
.swiper-button-prev,
.swiper-button-next {
  background-size: 16px 30px;
  top: 80px;
}

.swiper-pagination-bullet {
  border: 1px solid #384773;
  background: none;
  opacity: 1;
  width: 7px;
  height: 7px;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 4px;
}

.swiper-pagination-bullet-active {
  background: #384773;
}

.review {
  display: flex;
  width: 800px;
  min-height: 160px;
  box-sizing: border-box;

  &__col1 {
    width: 160px;
    height: 160px;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
  }
  &__col2 {
    width: 100%;
    height: 100%;
    padding-left: 40px;
    font-family: $font-l;
    font-size: 1.125em;
    line-height: 1.5;
    letter-spacing: 0.01em;
  }
  &__photo {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
  }
  &__text p{
    margin-bottom: 0;
  }
  &__author {
    text-align: right;
  }
  &__name {
    font-family: $font-m;
    font-weight: normal;
  }
}

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
  position: static;
  margin-top: 14px;
}

.partners {
  padding-bottom: 60px;
}





.header__info {
  padding: 33px 0;
  display: block;
  & p {
    font-family: $font-t;
    font-size: 1.6875em;
    line-height: 1.44444444;
    color: $color_main;
    letter-spacing: 0.016em;
    margin-top: -47px;
    margin-bottom: 49px;
  }
}

.header__title {
  font-family: $font-t;
  font-size: 4.125em;
  font-weight: 100;
  line-height: 1.1;
  letter-spacing: 0.004em;
  margin: 1em 0;
}

.service {
  padding: 80px 0;

  &__title {
    font-family: $font-l;
    font-size: 2.75em;
    line-height: 1.1;
    color: $color_main;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: 0.02em;
  }
  &__description {
    font-family: $font-l;
    font-size: 1.125em;
    line-height: 1.5;
    color: $color_secondary;
    letter-spacing: 0.02em;
    margin-bottom: 1.5em;
  }
}

.service .button {
  align-self: flex-start;
}

.icon_back {
  display: inline-block;
  width: 17px;
  height: 14px;
  background-image: url(../img/icon-back.svg);
  background-size: 17px 14px;
  background-repeat: no-repeat;
  position: relative;
  top: 1px;
  margin-right: 10px;
}
.link:hover>.icon_back {
  background-image: url(../img/icon-back-active.svg);
}

.text {
  font-family: $font-l;
  color: $color_main;
  font-size: 1.125em;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: block;
  padding-bottom: 50px;
  & h1 {
    font-family: $font-t;
    font-size: 3.66666667em;
    line-height: 1.1;
    font-weight: normal;
    letter-spacing: 0.025em;
    margin-bottom: 0;
    margin-top: 1em;
  }
  & h2 {
    font-size: 2.44444444em;
    line-height: 1.1;
    font-weight: normal;
    letter-spacing: 0.025em;
    margin-top: 1.5em;
    margin-bottom: 0.4em;
  }
  & h3 {
    font-size: 1.5em;
    line-height: 1.44444444;
    letter-spacing: 0.004em;
    font-weight: normal;
    margin-top: 0.7em;
    margin-bottom: 2.5em;
  }
  & .important-text {
    font-size: 1.5em;
    line-height: 1.44444444;
    letter-spacing: 0.004em;
    margin-top: 0.7em;
    margin-bottom: 2.5em;
  }
  & p {
    margin-bottom: 1.3em;
  }
  & ul {
    line-height: 1.8;
  }
  & b {
    font-family: $font-m;
    font-weight: normal;
  }
}

.features__item_row {
  flex-direction: row;
  align-items: center;
}

.features__title_left {
  margin-left: 0;
}

/* Partners > Benefits > margins between rows */
.features__item_row {
  margin-bottom: 40px;
}
.features__item_row:nth-last-child(1),
.features__item_row:nth-last-child(2) {
  margin-bottom: 0;
}
/*============================================*/

/* Partnership > table*/
.table {
  width: 100%;
  border-collapse: collapse;
  font-family: $font-l;
  font-size: 1.125em;
  line-height: 1.5;
  color: $color_secondary;
  letter-spacing: 0.02em;

  & b {
    font-family: $font-m;
    font-weight: normal;
  }
  & ul {
    margin: 0;
    padding-left: 17px;
  }
  & li {
    margin-bottom: 4px;
  }
  & td {
    width: 33.33333333%;
    border: 2px solid #e5e5e5;
    padding: 13px 20px;
    vertical-align: top;
  }
}

.li_boolean {
  list-style: none;
  color: #707070;
  padding-top: 1px;
  padding-bottom: 1px;
}
/*====================*/

select {
  font-family: $font-l;
  font-size: 1.125em;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #707070;
  border-color: #c6c6c6;
  margin-right: 80px;
  padding: 5px;
  width: 240px;
  margin-top: -20px;
  outline: none;
}

.partners {
  /* outline: 1px dashed green; */
  list-style: none;
  padding: 0;
  box-sizing: border-box;
  width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-bottom: 40px;
}
.partners__item {
  display: block;
  width: 241px;
  height: 241px;
  box-sizing: border-box;
  border: 2px solid #ededed;
}

.partners__item:not(:nth-child(4n+1)) {
  margin-left: -2px;
}

.partners__item:nth-child(n+5) {
  margin-top: -2px;
}
/*.partners__item:nth-child(4n) {
  flex-grow: 1;
}*/

.vacancy {
  list-style: none;
  padding-left: 0;
  &__item {
    padding: 12px 0;
  }
  &__link {
    font-family: $font-m;
    display: block;
    text-decoration: none;
    color: $color_link;
    letter-spacing: 0.035em;
  }
  &__location {
    display: block;
    margin-top: -8px;
  }
}

.contact-us-form {
  margin-top: 50px;
  margin-bottom: 30px;
  & .col_6 {
    margin-bottom: 24px;
    align-items: center;
  }
  & input[type="submit"] {
    margin-left: 160px;
  }
  & input[type="text"] {
    padding: 2px;
  }
}

.office {
  width: 50%;
  display: flex;
  margin-bottom: 40px;
  &__flag {
    margin-right: 20px;
  }
  &__info {
    margin-top: 0;
  }
  &__country {
    font-family: $font-l;
    font-size: 2.44444444em;
    line-height: 1;
  }
  & a {
    color: $color_link;
  }
}

.header__title_small {
  font-family: $font-l;
  font-size: 2.75em;
  letter-spacing: 0.02em;
}
.header__title_small + .button {
  margin-bottom: 50px;
}
.vacancy-legend {
  font-family: $font-t;
  font-size: 1.5em;
  line-height: 1.44444444;
  letter-spacing: 0.03em;
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}